/***** Roundcube|Mail Help task styles *****/

 a.button-csu::before
{
  content: "\f4c4";
}
a.button-ent::before
{
 content: "\f19c";
}
a.button-tools::before
{
 content: "\f5ae";
}
a.tbl::before {
 content: "\f2bb" !important;
}


.vacation::before {
  /*content:"\f897";*/
}
.signature::before {
  /*content:"\f5b7";*/
}

html.dark-mode #taskmenu a,
html.dark-mode .menu.toolbar a,
html.dark-mode .action-buttons a:hover{
  color: #c5d1d3 !important;
}

#message-header .header-summary {
    display: none !important;
}
#message-header .header-headers {
    display: inline !important;
}
#message-header > .header img.contactphoto {
   display: none !important;
}

input.btn.delegated {
 display:none !important;
}
/*
a#rcmbtn116 { display: none !important; }
a#rcmbtn117 { display: none !important; }
*/
